# Node modules
node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# React Native
ios/Pods/
ios/DerivedData/
android/.gradle/
android/app/build/
android/build/
*.keystore

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.xcworkspace
DerivedData/
*.moved-aside
*.xcuserstate

# Android Studio
.idea/
*.iml
.gradle/
local.properties

# VSCode
.vscode/

# Misc
.env
*.swp
*.swo
*.DS_Store
.expo/
web-build/
dist/

# TypeScript
*.tsbuildinfo

# Metro bundler cache
.cache/

# Watchman
.watchmanconfig

# Jest
coverage/
jest-cache/
jest-config.json
